
GEMINI_API_KEY="MY_GEMINI_API_KEY"
MONGODB_URI=mongodb+srv://mrbadshaff_db_user:TK8q6qRaxLtUAS6X@cluster0.auz60su.mongodb.net/?appName=Cluster0

CLOUDINARY_CLOUD_NAME=dfyz9iiji
CLOUDINARY_API_KEY=741583995513394
CLOUDINARY_API_SECRET=ISrcB9AkrcgEguDMetMDHuMIXPg


EMAIL_USER=moviesflixxer@gmail.com
EMAIL_PASS=lesm ebgg tyfs mjre
FROM_EMAIL=moviesflixxer@gmail.com
JWT_SECRET=nexus_8f2d9a1c_7e5b_4d2e_9c1a_3b6f8e2d4c0b_secret
